@{
    Layout = "_Layout";
}

@model List<BookshelfApp.Models.Book>

<h2>Bookshelf</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
